*, *:before, *:after {
  box-sizing: border-box;
}

html,body { height: 100%; }

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 2;
	color: #e8e8e9;
	background: #263238;
}

header {
	position: fixed;
	top: 0;
	z-index: 90;
	padding: 20px;
	width: 100%;
	color: #fff;
	background: #673ab7;
	box-shadow: 0 1.5px 3px rgba(0,0,0,.24),0 3px 8px rgba(0,0,0,.05);
}

header h1 {
	margin-left: 300px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
}

main{
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

.header-content-wrap {
	margin: auto;
	max-width: 1200px;
}

.content-section {
	margin: 0 0 0 260px;
	padding: 100px 40px;
	min-height: 100%;
	background: #37474f;
	box-shadow: 0 1.5px 3px rgba(0,0,0,.3),0 3px 8px rgba(0,0,0,.1);
}

h1,h2,h3,h4,h5,h6 { line-height: 1; margin: 0 0 20px; padding: 15px 0 0;}

h1 { margin: 0; }

p { margin: 0 0 20px; }

a {
	color: #a466dc;
	text-decoration: none;
			-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:hover {
	/* color: #e3c376; */
}

code {
	margin: 0 4px;
	padding: 2px 4px;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	background: rgba(0, 0, 0, .15);
/* 	box-shadow: 0px 1px 4px rgba(0,0,0,.75); */
	border-radius: 1px;
}

pre {
	margin: 0 -40px 20px;
	padding: 20px 40px;
	line-height: 1.5;
	background: rgba(0, 0, 0, .2);
}

pre code {
	display: block;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.03) !important;
	box-shadow: none;
}

.admonition {
	margin: 0 -40px 20px;
  background: rgba(0, 0, 0, .3);
  background: #0288d1;
  color: #fff;
}
.admonition p { margin: 0; }

.admonition .admonition-title {
	padding: 20px 40px;
  font-size: 20px;
  line-height: 20px;
  background: #0288d1;
}

.admonition.warning  {
  background: #b94136;
}

.admonition.warning .admonition-title {
  background: #b94136;
}

.admonition .admonition-desc {
	padding: 0 40px 20px;
}

.site-logo {
	display: block;
	margin: 0 0 20px 10px;
	width: 70px;

}

.site-logo .hood {
	fill: #37474f;
	/* fill: #664385; */
		-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.site-logo .shadow {
	fill: #020202;
		-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.site-logo .skull {
	fill: #999;
		-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.sidebar-header:hover .hood {
	fill: #673ab7;
}

.sidebar-header:hover .skull {
	fill: #e3c376;
}

/*sidebar navigation*/

.sidebar-header {
	position: relative;
}

.sidebar-header-version {
	position: absolute;
	top: 15px;
	left: 90px;
	font-size: 12px;
	line-height: 1;
	color: #747577;
	font-weight: 300;
}

.sidebar-header-version span {
	font-weight: 500;
}

.sidebar-header:hover { color:  #a466dc; }

#sidebar {
	position: fixed;
	overflow-y: auto;
	margin-top: 100px;
	width: 260px;
	height: 100%;
}


ul.sidebar-menu , ul.sidebar-menu li ul.sub{
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;

}

#sidebar > ul > li > ul.sub {
	display: none;
	position: relative;
}
#sidebar > ul > li > a {
	margin-bottom: 10px;
}

#sidebar > ul > li > ul.sub a {
	border-left: 2px solid #a466dc;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
	display: block;
}

ul.sidebar-menu li ul.sub li{
	padding-top: 10px 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
	font-size: 12px;
	padding: 0 0 0 20px;
	line-height: 35px;
	height: 35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #999b9d;
	font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	color: #a466dc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
}

ul.sidebar-menu li{
	line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
	position: relative;
	margin-bottom: 10px;
	line-height: 15px;
	font-size: 16px;
}
ul.sidebar-menu li.sub-menu:hover,ul.sidebar-menu li.sub-menu.active{
 /*background: rgba(0,0,0,.1);*/
}

ul.sidebar-menu li.sub-menu:hover:after{
/* display: block;*/
}

ul.sidebar-menu li.sub-menu:after{
	display: none;
	content: "\f2fb";
  font-family: 'Material-Design-Iconic-Font';
  font-size: 16px;
  font-weight: 200;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 50px;
  top: 8px;
  color:#a466dc;
  -webkit-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

ul.sidebar-menu li.sub-menu.open:after{
	transform: rotate(90deg);
}

ul.sidebar-menu li a span{
	display: inline-block;
}

ul.sidebar-menu li a{
	color: #e8e8e9;
	text-decoration: none;
	display: block;
	padding: 10px 0 10px 10px;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	white-space: nowrap;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
	color: #a466dc;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#sidebar ul > li > a .menu-arrow {
	float: right;
	margin-right: 8px;
	margin-top: 6px;
}

/* Table of contents */

.toc-container {
	display: none;
	position: fixed;
	top: 170px;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.toc-wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.toc {
	float: right;
	margin-right: -200px;
	padding: 10px 20px 20px;
	width: 180px;
	/*font-size: 13px;*/
	line-height: 1.2;
	word-wrap: break-word;
	/*background: #303f46;
  box-shadow: 0 1.5px 3px rgba(0,0,0,.3),0 3px 8px rgba(0,0,0,.1);*/
}

.toc h4 { font-size: 14px; line-height: 1; }

.toc ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.toc a {
	display: block;
	margin: 0 0 15px;
}

.toc ul > li > ul > li > ul > li > ul {
	margin: 0 0 0 15px;
}

@media only screen  and (min-width : 1600px) {
	.toc-container { display: block; }
}

/* Footer panel */


/* Search form */

.search-input {
  float:left;
  font-size: 16px;
  margin: 0 0 0 10px;
  padding: 5px 10px;
  width: 200px;
  background: 0 0;
  text-align: left;
  color: #fff;
  border: 0;
 /* border-bottom: 1px solid #999b9d;*/
}

.search-input:focus {
	outline: 0;
	border-bottom-color: #a466dc;
	background: #37474f;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

/* Search result wrapper */
.algolia-autocomplete {
	width: 100%;
}

/* List of search results */
.aa-dropdown-menu {
	box-sizing: border-box;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #B3B3B3;
	padding: 0;
	font-size: 16px;
	margin: 4 0 4 0;
}

/* Highlight terms in search result headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
	background-color: #F04A9C;
}

/* Highlight terms in search result body */
.algolia-docsearch-suggestion--highlight {
	color: #F04A9C;
	font-weight: 900;
}

/* Currently selected search result */
.aa-cursor .algolia-docsearch-suggestion--content {
	color: inherit;
}

.aa-cursor .algolia-docsearch-suggestion {
	background: #EFEFEF;
	color: #353B44;
}

.algolia-docsearch-suggestion {
	font-size: 16px;
	color: #9AA2AB;
}

.algolia-docsearch-suggestion--category-header,
.algolia-docsearch-suggestion--subcategory-column {
	display: none !important;
}